{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/404.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Страница не найдена {% endblock title %}
{% block content %}
<article class="error-block">
    <p class="error-number">404</p>
    <p class="error-title">NOT FOUND</p>
    <p class="error-description">Страница не найдена</p>
    <a href="/" class="to-home">
        <p>Вернуться на главную</p>
    </a>
</article>

{% endblock content %}
