{% extends "basic_staff_template.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/a.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %}  Добавить книгу  {% endblock title %}

{% block content %}
<section class="image-block">
    <img src="{{ book_instance.book.img_url }}">
</section>

<form method="post">
    {% csrf_token %}
    <div class="form-line">
        <div class="label-tag">{{ form.title.label_tag }}</div>
        {{ form.title }}<br>
        {{ form.title.errors }}
    </div>
    <div class="form-line">
        <div class="label-tag">{{ form.authors.label_tag }}</div>
        {{ form.authors }}<br>
        {{ form.authors.errors }}
    </div>
    <div class="form-line">
        <div class="label-tag">{{ form.genre.label_tag }}</div>
        {{ form.genre }}<br>
        {{ form.genre.errors }}
    </div>
    <div class="form-line">
        <div class="label-tag">{{ form.image.label_tag }}</div>
        {{ form.image }}<br>
        {{ form.image.errors }}
    </div>
    <div class="form-line">
        <div class="label-tag">{{ form.count.label_tag }}</div>
        {{ form.count }}<br>
        {{ form.count.errors }}
    </div>
    <div class="form-line">
        <div class="label-tag">{{ form.publishing_house.label_tag }}</div>
        {{ form.publishing_house }}<br>
        {{ form.publishing_house.errors }}
    </div>
    <div class="form-line">
        <div class="label-tag">{{ form.year_of_publication.label_tag }}</div>
        {{ form.year_of_publication }}<br>
        {{ form.year_of_publication.errors }}
    </div>
    <input type="submit" value="Сохранить">
</form>
{% endblock content %}