{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/authors.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Все авторы {% endblock title %}

{% block content %}
<article class="authors">
    <h2>Авторы</h2>
    {% for author in authors %}
    {% if author.book.count > 0 %}
    <a class="one-author" href="/authors/{{ author.id }}/">
        <div class="text-block">
            <h3>{{ author.name }} {{ author.last_name }}</h3>
            <p>
                Книги: {% for book in author.book.all %}<q>{{ book.title }}</q>{% endfor %}
                {% if book.count > 3 %} и другие {% endif %}
            </p>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</article>
{% endblock content %}