{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/author_person.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} {{ author.name }} {{ author.last_name }} {% endblock title %}

{% block content %}
<h1>{{ author.name }} {{ author.last_name }}</h1>
<div class="books-container">
    {% for book in books %}
        <a class="book-card" href="../../books/{{ book.id }}/">
            <img class="book-image" src="{{ book.img_url }}">
            <div class="book-text">
                <p class="book-title">{{ book.title }}</p>
                <p> Авторы: {% for author in book.author.all %}{{ author }} {% endfor %}</p>
                <p>Жанр: {{ book.genre }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}