<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lib117{% endblock title %}</title>
</head>
<body>
<header>
    <div>
        <div class="header-lable"></div>
        <a href="/about"><h3>О сайте</h3></a>
        <a href="/autors"><h3>Авторы</h3></a>
        <a href="/books"><h3>Книги</h3></a>
    </div>
    <div>
        <a href="/login">Войти</a>
    </div>
</header>
<main>
    {% block content %}{% endblock content %}
</main>
<footer>
    <div class="footer-nav">
        <a href="/about"><h4>О сайте</h4></a>
        <a href="/autors"><h4>Авторы</h4></a>
        <a href="/books"><h4>Книги</h4></a>
    </div>
    <!--    поликита конф-->
    <!--    условия польз-->
    <div>
    </div>
</footer>
</body>
</html>