<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lib117{% endblock title %}</title>
    <link href="{% static 'css/basic_style.css' %}" rel="stylesheet" type="text/css">
<!--    <link href="../static/css/basic_style.css" rel="stylesheet">-->
</head>
<body>
<header class="header">
    <ul class="header-menu">
        <li>
            <div class="header-lable">Lib117</div>
        </li>
        <li><a href="/about">О сайте</a></li>
        <li><a href="/autors">Авторы</a></li>
        <li><a href="/books">Книги</a></li>
        <li><a href="/login" class="login">Войти</a></li>
    </ul>
</header>
<main>
    {% block content %}{% endblock content %}
</main>
<footer>
    <ul class="footer-nav">
        <li><a href="/about"><h4>О сайте</h4></a></li>
        <li><a href="/autors"><h4>Авторы</h4></a></li>
        <li><a href="/books"><h4>Книги</h4></a></li>
    </ul>
    <!--    поликита конф-->
    <!--    условия польз-->
    <div>
    </div>
</footer>
</body>
</html>