{% extends "base_generice.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/books.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Все книги {% endblock title %}

{% block content %}
<section class="books">
    <h1>Книги</h1>
    {% for book in books %}
    <a class="one-book" href="/books/{{ book.id }}/">
        <div class="image-block">
            <img src="{{ book.img_url }}">
        </div>
        <article class="text-block">
            <h2>{{ book.title }}</h2>
            <h3> Авторы: {% for author in book.author.all %}{{ author }} {% endfor %}</h3>
            <h3>Жанр: {{ book.genre }}</h3>
        </article>
    </a>
    {% endfor %}
</section>
{% endblock content %}