{% extends "basic_template.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Lib117 {% endblock title %}
{% block content %}

<div class="index-choice-block block1">
    <div class="text-block">
        <h3>Книги</h3>
        <p></p>
    </div>
    <div class="right-block">
        <div>
            <img src="{% static 'images/book_icon.png' %}">
        </div>
        <a href="/autors/">Перейти к выбору >>></a>
    </div>
</div>

    <div class="index-choice-block block2">
        <div class="text-block">
            <h3>Авторы</h3>
            <p></p>
        </div>
        <div class="right-block">
            <div>
                <img src="{% static 'images/pen_icon.png' %}">
            </div>
            <a href="/autors/">Перейти к выбору >>></a>
        </div>
    </div>
    <div class="guide-block">
        <h3>Как это работает</h3>
        <div>
            <h4>Регистрируетесь на сайте</h4>
        </div>
        <div>
        </div>
    </div>
    {% endblock content %}