{% extends "basic_template.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Lib117 {% endblock title %}
{% block content %}

<section class="choice-block section-1">
    <h3 class="section-label">О сайте</h3>

</section>

<section class="choice-block section-2">
    <h3 class="section-label">Авторы</h3>

</section>

<section class="choice-block section-1">
    <h3 class="section-label">Книги</h3>

</section>
{% endblock content %}