{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Вход на сайт {% endblock title %}
{% block content %}

<div class="form-block">
        <div class="form-label">Вход</div>
    <form method="post">
        {% csrf_token %}
        <div class="form-line">
            <div class="label-tag">{{ form.username.label_tag }}</div>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-line">
            <div class="label-tag">{{ form.password.label_tag }}</div>
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        {% if errors %}
        <p class="errors">{{ errors }}</p>
        {% endif %}
        <div class="form-line button-input">
            <input type="submit" value="Войти">
        </div>
    </form>
</div>
<a class="to-register" href="../register/">Нет аккаунта? Зарегистрироваться</a>
{% endblock content %}