{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/new_book_page.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Книги (обновленная страница) {% endblock title %}

{% block content %}

{% include 'book_filter_form.html' with form=form %}

<section class="books-block">
    <h2 class="books-line-title">Все книги</h2>
    <article class="books-line">
        {% for book in all_books_slice %}
        <div>
            <a class="book-card" href="/books/{{ book.id }}/">
                <img class="book-image" src="{{ book.img_url }}">
                <div class="book-text">
                    <p class="book-title">{{ book.title }}</p>
                    <p> Авторы: {% for author in book.author.all %}{{ author }} {% endfor %}</p>
                    <p>Жанр: {{ book.genre }}</p>
                </div>
            </a>
        </div>

        {% endfor %}
    </article>
    {% endblock content %}