{% extends "basic_template.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock title %}
{% block content %}
<h1 class="profile-header">
    {{ user.first_name }} {{ user.last_name }}
</h1>
<div class="my-books\">
    <h2>Мои книги</h2>
    {% if book %}
    <div class="disp-inline">
        <div class="book-image">
            <img src="{{ book.img_url }}">
        </div>
    </div>
    <div class="disp-inline book-info">
        <h3>{{ book.title }}</h3>
        <p>Авторы: {% for author in book.author.all %}
            <a href="/authors/{{ author.id }}/">{{ author }}</a>
        </p>
        {% endfor %}
        <p> Жанр: {{ book.genre }}</p>
        <p>Дата получения: {{ book_ins.take_date }}</p>
        <p>Дата возврата: {{ book_ins.return_date }}</p>
    </div>
    {% else %}
    <h2 class="no-books">На данный момент у вас нет книг</h2>
    {% endif %}
</div>
{% endblock content %}