{% extends "basic_template.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} {{ user.first_name }} {{ user.last_name }} {% endblock title %}
{% block content %}
<div class="header-profile\">
{{ user.first_name }} {{ user.last_name }}
</div>
<div class="my-books\">
    <div>Мои книги</div>
    <div class="book-image">
        <img src="{{ book.image }}">
    </div>
    <div class="book-info">
        <h3>{{ book.lable }}</h3>
        <h4>{{ book.author }}</h4>
        <h4>{{ book_ins.take_date }}</h4>
        <h4>{{ book_ins.return_date }}</h4>
    </div>
</div>
{% endblock content %}