.image-block {
  display: inline-block;
  margin-top: 70px;
  margin-left: 5%;
  vertical-align: top;
}

.image-block img {
  width: 280px;
  height: 400px;
  text-align: center;
}

.description {
  display: inline-block;
  margin-top: 20px;
  margin-left: 5%;
  vertical-align: top;
}

.book-title {
  font-size: 45px;
  text-align: left;
}

.authors {
  font-size: 30px;
}

.non-important-description {
  font-size: 22px;
  margin-top: 10px;
}

.book-dates {
  font-size: 26px;
  margin-top: 16px;
}

.borrower-name {
  font-size: 26px;
}

.danger-date {
  color: red;
}

form {
  text-align: center;
  margin: 20px 20px;
}

.action-button {
  width: 210px;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 26px;
  border: 2px solid #2f5d8c;
  border-radius: 25px;
  background: #f9f9f9;
  color: #2f5d8c;
}

.action-button:hover {
  border-color: #2f5d8c;
  background: #2f5d8c;
  color: white;
}

.action-button-danger {
  border-color: red;
  background: #f9f9f9;
  color: red;
}

.action-button-danger:hover {
  border-color: red;
  background: red;
  color: white;
}