{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/staff/table.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Lib117 | Панель персонала {% endblock %}

{% block content %}
<h1 class="table-header">Список выданных учебников</h1>
<h3 class="instruction">Чтобы отметить возврат учебников, кликните мышкой на соответствующую запись</h3>
{% if textbooks %}
<table>
    <thead>
    <tr>
        <th>Учебник</th>
        <th>Класс</th>
        <th>Количество</th>
        <th>Получатель</th>
    </tr>
    </thead>
    <tbody>
    {% for textbook in textbooks %}
    <tr onclick="window.location.href='/staff/borrow-textbook/{{ book_instance.id }}/'; return false"
        class="table-row">
        <th>{{ textbook.textbook.title }}</th>
        <th>{{ textbook.student_group }}</th>
        <th>{{ textbook.count }}</th>
        <th>{{ textbook.borrower }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h2 class="no-books">Выданные учебники отсутствуют</h2>
{% endif %}
{% endblock %}