{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/book_item.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Lib117 | Панель персонала {% endblock %}

{% block content %}
<article class="book-block">
    <section class="book-inline image-block">
        <img src="{{ book.img_url }}">
    </section>
    <section class="book-inline text-block">
        <p class="book-title">{{ book.title }}</p>
        <div class="about-book">
            <div class="authors">
                Авторы: {% for author in book.author.all %}
                <a href="/authors/{{ author.id }}/">{{ author }}</a>
                {% endfor %}
            </div>
            <div class="genre">Жанр: {{ book.genre }}</div>
            {% if count > 0 %}
            <div class="count">Количество свободных книг: {{ count }}</div>
            <form method="post">
                {% csrf_token %}
                <div class="form-line">
                    <div class="label-tag">{{ form.borrower.label_tag }}</div>
                    {{ form.borrower }}
                    {{ form.borrower.errors }}
                </div>
                <input type="submit" value="Выдать">
            </form>
            {% else %}
            <div class="count label-danger">Книг нет в наличии</div>
            {% endif %}
        </div>
    </section>
</article>
{% endblock %}