{% extends "basic_staff_template.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/staff_reserve_one_book.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Все книги {% endblock title %}

{% block content %}
<section class="image-block">
    <img src="{{ book_instance.book.img_url }}">
</section>

<section class="description">
    <h1>Книга: {{ book_instance.book.title }}</h1>
    <h2>Авторы: {% for author in book_instance.book.author.all %}{{ author }}{% endfor %}</h2>
    <h2>Издательство: {{ book_instance.book.publishing_house }}</h2>
    <h2>Год издания: {{ book_instance.book.year_of_publication }}</h2>
    <h2>id экземпляра: {{ book_instance.id }}</h2>
    <h2>Ученик: {{ book_instance.borrower.first_name }} {{ book_instance.borrower.last_name }}</h2>
</section>

<form method="post">
    {% csrf_token %}
    <input type="submit" value="Выдать" class="reserve" name="_approve">
    <input type="submit" value="Отказать" class="reserve" name="_reject">
</form>
{% endblock content %}