{% extends "base_generic.html" %}
{% load static %}

{% block styles_link %}
<link href="{% static 'css/staff/reserve_one_book.css' %}" rel="stylesheet" type="text/css">
{% endblock styles_link %}

{% block title %} Все книги {% endblock title %}

{% block content %}
<section class="image-block">
    <img src="{{ book_instance.book.img_url }}">
</section>

<section class="description">
    <p class="book-title">{{ book_instance.book.title }}</p>
    <div class="authors">Авторы: {% for author in book_instance.book.author.all %}{{ author }}{% endfor %}</div>
    <div class="non-important-description">Издательство: {{ book_instance.book.publishing_house }}</div>
    <div>Год издания: {{ book_instance.book.year_of_publication }}</div>
    <div>id экземпляра: {{ book_instance.id }}</div>
    <div>Ученик: {{ book_instance.borrower.first_name }} {{ book_instance.borrower.last_name }}</div>
</section>

<form method="post">
    {% csrf_token %}
    <input type="submit" value="Выдать" class="reserve" name="_approve">
    <input type="submit" value="Отказать" class="reserve" name="_reject">
</form>
{% endblock content %}