.authors {
  margin-top: 40px;
  margin-left: 15%;
}

.authors h2 {
  margin: 28px;
}

.one-author {
  display: block;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.one-author:hover {
  color: #2f5d8c;
}

.one-author h3 {
  margin-bottom: 0;
}

.text-block p {
  margin-top: 0;
}