.authors {
  margin-top: 40px;
}

.authors h2 {
  margin: 20px;
  margin-left: 80px;
}

.one-author {
  display: block;
  margin: 20px;
  text-decoration: none;
  color: black;
}

.one-author:hover {
  box-shadow:  0px 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.text-block {
  margin-left: 80px;
}