.header {
  display: block;
  width: 100%;
  height: 70px;
  padding-top: -100px;
  margin: 0;
  background: #efb58f;
}

header .header-block {
  display: inline-block;
  width: 19%;
  height: 100%;
  font-family: Century Gothic sans-serif;
  text-align: center;
  line-height: 65px;
  margin-left: 0.5%;
  vertical-align: top;
}

.header-lable {
  display: block;
  font-family: Rockwell, Goudy Old Style, Gabriola, Century Gothic;
  font-size: 40px;
  color: #ffffff;
}

header a {
  font-size: 30px;
  text-decoration: none;
  background: #d89279;
  color: #eee3dd;
}

.login {
  background: #efb58f;
  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee3dd;
}

footer {
  display: block;
  background: #cdd3c2;
  height: 300px;
  margin-bottom: 0;
}
