.header {
  display: block;
  width: 100%;
  height: 80px;
  margin: 0;
  background: #2f5d8c;
  display: inline-flex;
  justify-content: space-between;
}

.header-inline {
  line-height: 80px;
}

.site-label {
  flex-grow: 17;
  font-family: Rockwell, Goudy Old Style, Gabriola, Century Gothic;
  font-size: 30px;
  padding-left: 30px;
}

.header-nav {
  flex-grow: 3;
  display: inline-flex;
  justify-content: space-around;
}

.header-nav-link {
  font-size: 16px;
  font-family: sans-serif;
}

header a {
  text-decoration: none;
  color: #f9f9f9;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f6f6f6;
}

footer {
  display: flex;
  background: #2f5d8c;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-nav {
  flex-grow: 7;
}

.social-networks {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.s-network {
  display: inline-flex;
  color: white;
  align-items: center;
}

.s-network img {
  width: 32px;
  height: 32px;
}

