.header {
  display: block;
  width: 100%;
  height: 210px;
  margin: 0;
  background: #dfdfdd;
}

.header-label {
  display: block;
  width: 35%;
  margin-left: 32.5%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-family: Rockwell, Goudy Old Style, Gabriola, Century Gothic;
  font-size: 50px;
  border-bottom: 3px solid #d55e2d;
  color: #2f5d8c;
}

header .header-block {
  display: inline-block;
  width: 24%;
  height: 70px;
  font-family: Century Gothic sans-serif;
  text-align: center;
  line-height: 65px;
  margin-top: 20px;
  margin-left: 0.5%;
  vertical-align: top;
}

header a {
  font-size: 30px;
  text-decoration: none;
  color: #2f5d8c;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
}

footer {
  display: block;
  background: #a0b3c1;
  height: 300px;
  margin-bottom: 0;
}
