.forgot-password {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #2f5d8c;
  margin-bottom: 20px;
}

.to-register {
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 22px;
  color: #2f5d8c;
}