.form-block {
  display: block;
  width: 30%;
  height: 370px;
  background: #d8d8d6;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px #777777;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
  padding-top: 20px;
}

.enter-label {
  font-size: 35px;
  text-align: center;
  color: #d55e2d;
}

form {
  margin-top: 25px;
}

.form-line {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.form-line .label-tag {
  font-size: 25px;
  color: #2f5d8c;
}

.form-line input {
  width: 70%;
  height: 35px;
  border-radius: 12px;
  background: #f9f9f9;
}

.button-input input {
  background: #a0b3c1;
  font-size: 17px;
  color: #111111;
  width: 30%;
  margin-top: 13px;
}

.no-account {
  text-align: center;
  color: #d55e2d;
}
