.form-block {
  display: block;
  width: 30%;
  height: 350px;
  background: #adc9ea;
  border: 2px solid #5f7493;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 0px #777777;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 35%;
}

.enter-lable {
  display: block;
  width: 30%;
  font-size: 35px;
  text-align: center;
  border-bottom: 2px solid;
  color: #3f5473;
  margin-top: 13px;
  margin-bottom: 20px;
  margin-left: 35%;
  border-bottom: 2px solid;
}
.form-line {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.form-line .label-tag {
  font-size: 25px;
  color: #3f5473;
}

.form-line input {
  width: 70%;
  height: 35px;
  border-radius: 12px;
  background: #e4e7ee;
}

.button-input input {
  background: #fbb18c;
  font-size: 17px;
  color: #111111;
  width: 30%;
  margin-top: 13px;
}
