.book-block {
  width: 95%;
  height: 664px;
  margin: 32px;
  border-radius: 35px;
  box-shadow:
    16px 16px 20px 0 rgba(0, 0, 0, 0.25),
    -12px -12px 16px 0 white;
}

.book-inline {
  display: inline-block;
  height: 500px;
  margin-top: 50px;
  vertical-align: top;
}

.image-block {
  width: 38%;
  border-right: 3px solid #2f5d8c;
  text-align: center;
}

.image-block img {
  width: 315px;
  height: 450px;
  margin-top: 25px;
  pointer-events: none;
}

.text-block {
  width: 59%;
  margin-left: 2%;
}

.book-title {
  font-size: 45px;
  text-align: left;
}

.about-book {
  margin-left: 1%;
  margin-top: 30px;
}

.authors {
  font-size: 20px;
}

.authors a {
  color: #269196;
}

.genre {
  font-size: 18px;
  margin-top: 10px;
}

form {
  text-align: center;
}

.reserve {
  width: 280px;
  height: 56px;
  border: none;
  border-radius: 28px;
  margin-top: 32px;
  font-size: 18px;
  background: #2f5d8c;
  color: white;
}

.reserve:hover {
  box-shadow:
    8px 8px 12px 0 rgba(47, 93, 140, 0.4),
    -4px -4px 8px 0 white;
}

.return-label {
  margin-top: 32px;
  text-align: center;
  font-size: 25px;
}

.return-label-to-profile {
  margin-top: 8px;
}

.return-label-warning {
  color: #269196;
}

.return-label-danger {
  color: red;
}

.count {
  vertical-align: bottom;
  margin-top: 64px;
  font-size: 20px;
}