.book-block {
  width: 95%;
  height: 600px;
  background: #dfdfdd;
  margin-top: 20px;
  margin-left: 2.5%;
  border-radius: 35px;
  box-shadow: 5px 5px 5px 0px #777777;
}

.disp-inline {
  display: inline-block;
  height: 500px;
  margin-top: 50px;
  vertical-align: top;
}

.image-block {
  width: 38%;
  border-right: 3px solid #2f5d8c;
  text-align: center;
}

.image-block img {
  width: 315px;
  height: 450px;
  margin-top: 25px;
}

.text-block {
  width: 59%;
  margin-left: 2%;
}

.book-title {
  font-size: 45px;
  text-align: left;
  padding-left: 20px;
  border-left: 4px solid #d55e2d;
  color: #2f5d8c;
}

.about-book {
  margin-left: 1%;
  margin-top: 30px;
  color: #2f5d8c;
}

.authors {
  font-size: 20px;
}

.authors a {
  color: #d55e2d;
}

.genre {
  font-size: 18px;
  margin-top: 10px;
}

.reserve {
  width: 350px;
  height: 70px;
  margin-top: 150px;
  margin-left: 20px;
  background: white;
  border-radius: 5px;
}

.return-label {
  margin-top: 150px;
  margin-left: 20px;
  font-size: 25px;
  color: #d55e2d;
}

.count {
  vertical-align: bottom;
  margin-top: 100px;
  font-size: 20px;
}