.image-block {
  display: inline-block;
  margin-top: 70px;
  margin-left: 5%;
  vertical-align: top;
}

.image-block img {
  width: 280px;
  height: 400px;
  text-align: center;
}

.description {
  display: inline-block;
  margin-top: 20px;
  margin-left: 5%;
  vertical-align: top;
}

.book-title {
  font-size: 45px;
  text-align: left;
}

.authors {
  font-size: 30px;
}

.non-important-description {
  font-size: 22px;
  margin-top: 10px;
}

.book-dates {
  font-size: 26px;
  margin-top: 16px;
}

.borrower-name {
  font-size: 26px;
}

.danger-date {
  color: red;
}