.no-books {
  text-align: center;
  color: red;
}

.reserve-header {
  text-align: center;
}

.instruction {
  text-align: center;
  color: #888888;
}

table {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 28px;
  border-bottom: 2px solid #30b4bb;
}

thead {
  height: 50px;
  background: #30b4bb;
}

.row-danger {
  color: red;
}

.table-row {
  height: 45px;
}

.table-row:hover {
  background: #dfdfdd;
}

